[Desktop Entry]
Type=Application
Exec=jusLinkComposer.sh %u
MimeType=application/x-sh;
X-DocPath=jusLinkComposer/index.html
Terminal=false
Name=Jus Link Composer
GenericName=Jus Link Composer
Comment=Compose URL for Court Decisions
Categories=Office;
Icon=jusLinkComposer.png
